package model

import (
	"{{.Module}}/internal/validator"
	req "{{.Module}}/internal/request"
)

type {{.PascalCase}} struct {
	BaseModel
	{{.ModelStructProperties}}
}

func ({{.FirstInitial}} *{{.PascalCase}}) getRules() []validator.Rule {
	return []validator.Rule{
		{{.ValidationRules}}
	}
}

func ({{.FirstInitial}} *{{.PascalCase}}) Validate() req.ErrMsgs {
	return validator.RunValidation({{.FirstInitial}}.getRules())
}
