package {{.LowerCase}}repository


import (
	"context"
	"database/sql"
	"fmt"

	"{{.Module}}/internal/logga"
	"{{.Module}}/internal/model/{{.LowerCase}}"
	"{{.Module}}/internal/repository"
	req "{{.Module}}/internal/request"
)

type {{.PascalCase}} struct {
	Log *logga.Logga
}

func New(logger *logga.Logga) *{{.PascalCase}} {
	return &{{.PascalCase}}{
		Log: logger,
	}
}

func ({{.Initialisation}} *{{.PascalCase}}) Create(ctx context.Context, tx *sql.Tx, model *model.{{.PascalCase}}) error {

	result, err := tx.Exec(insertRecordSQL, {{.InsertFields}})
	if err != nil {
		errMsg := fmt.Sprintf("there was an error saving record to db. %s", err)
		{{.Initialisation}}.Log.Error(ctx, errMsg, nil)

		return fmt.Errorf(errMsg)
	}

	lastInsertID, err := result.LastInsertId()
	if err != nil {
		return err
	}

	model.ID = int32(lastInsertID)

	return nil
}

func ({{.Initialisation}} *{{.PascalCase}}) Update(ctx context.Context, tx *sql.Tx, model *model.{{.PascalCase}}) error {

	_, err := tx.Exec(updateRecordSQL, {{.UpdateFields}})
	if err != nil {
		errMsg := fmt.Sprintf("there was an error saving record to db. %s", err)
		{{.Initialisation}}.Log.Error(ctx, errMsg, nil)

		return fmt.Errorf(errMsg)
	}

	return nil
}

func ({{.Initialisation}} *{{.PascalCase}}) Delete(ctx context.Context, tx *sql.Tx, model *model.{{.PascalCase}}) error {

	_, err := tx.Exec(deleteRecordSQL, model.UpdatedAt, model.DeletedAt, model.ID)
	if err != nil {
		errMsg := fmt.Sprintf("there was an error saving record to db. %s", err)
		{{.Initialisation}}.Log.Error(ctx, errMsg, nil)

		return fmt.Errorf(errMsg)
	}

	return nil
}

func ({{.Initialisation}} *{{.PascalCase}}) GetByID(ctx context.Context, DB *sql.DB, ID int32, record *model.{{.PascalCase}}) error {
	row := DB.QueryRow(selectByIDQuery, ID)

	err := row.Scan({{.ScanFields}})
		a.Log.Info(ctx, "unable to fetch record", logga.KVPs{"ID": ID})

		return fmt.Errorf("unable to fetch record %d", ID)
	}

	return nil
}

func ({{.Initialisation}} *{{.PascalCase}}) GetAll(ctx context.Context, DB *sql.DB, p *req.Request) ([]*model.{{.PascalCase}}, error) {
	var (
		records []*model.{{.PascalCase}}
		rows    *sql.Rows
		err     error
	)

	countQ, countParams := repository.BuildQuery(selectCollectionCountQuery, p, true)
	count, err := repository.GetRecordCount(DB, countQ, countParams)
	if err != nil {
		{{.Initialisation}}.Log.Error(ctx, "GetAll()", logga.KVPs{"err": err})
	}
	p.SetRecordCount(count)

	q, params := repository.BuildQuery(selectCollectionQuery, p, false)

	{{.Initialisation}}.Log.Debug(ctx, "GetAll()", logga.KVPs{"query": q})
	if len(params) == 0 {
		rows, err = DB.Query(q)
	} else {
		rows, err = DB.Query(q, params...)
	}
	if err != nil {
		{{.Initialisation}}.Log.Error(ctx, "GetAll() unable to fetch rows", logga.KVPs{"err": err})
		return records, fmt.Errorf("unable to fetch rows")
	}
	defer rows.Close()
	if err != nil {
		{{.Initialisation}}.Log.Error(ctx, "GetAll() unable to fetch rows", logga.KVPs{"err": err})

		return records, fmt.Errorf("unable to fetch rows")
	}

	for rows.Next() {
		var record model.{{.PascalCase}}
		if err = rows.Scan({{.ScanFields}}); err != nil {
			return records, fmt.Errorf("unable to fetch rows. %s", err)
		}

		records = append(records, &record)
	}

	return records, nil
}
